.header-blue-DP {
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    min-height: 100vh;
    width: 100vw;
    padding-bottom:1rem;
}
  
.header-blue-DP .hero {
    margin-top:20px;
    text-align:center;
}
  
@media (min-width:768px) {
    .header-blue-DP .hero {
      margin-top:60px;
      text-align:left;
    }
}
  
.header-blue-DP .hero h1 {
    color:#fff;
    font-size:50px;
    margin-top:0;
    margin-bottom:15px;
    font-weight:bold;
    line-height:1.4;
}
  
@media (min-width:992px) {
    .header-blue-DP .hero h1 {
      margin-top:25px;
      padding-bottom: 75px;
    }
}
  
.header-blue-DP .hero p {
    color:white;
    font-size:20px;
    margin-bottom:30px;
    font-weight:300;
}

.card-container {
    background: linear-gradient(135deg, #172a74, #21a9af);
    border: 2px solid #aed7e9;
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}


.card_header {
    color:rgba(255,255,255,0.8);
    text-align: center;
    font-weight: bold;
    padding: 0;
}


.card-title {
    color: #F88379;
    font-weight: bold;
}

.card-body {
    overflow: hidden;
}
